*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.suo
*.user
*.sdf
*.opensdf
*.db
*.opendb
.vs/
Debug/
Release/
x64/
x86/
build/
out/
